::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
    background-color: #c3c5c9;
    border-radius: 10px;
}

.asideBox {
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    overflow: hidden;
}

.apikeyBox {
    font-size: 12px;
    margin-bottom: 10px;

}

.apikeyBox .elslider {
    display: inline-block;
}

.apikeyBox .el-slider__runway {
    margin: 0px 0;
}

.apikeyBox .el-slider__button {
    width: 10px;
    height: 10px;
}

.apikeyBoxkey {
    display: block;
    margin-right: 5px;
    margin-bottom: 3px;
}

.apikeyBoxTip {
    font-size: 12px;
    color: #8f9093;
}

.textareaBox {
    margin-top: 5px;
}

.setHeigthBox {
    margin-bottom: 5px;
    overflow-y: auto;
}

.setheightButtonBox {
    width: 100%;

}

.setheightButtonBox .el-progress-bar__innerText {

    color: #FFF !important;
}

.setheightButtonBox .el-progress-bar__inner {
    line-height: 0.5 !important;

}

.contentBox .el-card__body {
    padding: 5px;
    font-size: 12px;
    max-height: 90px;
    overflow-y: auto;

}

.contentBox .box-card {
    margin-top: 5px;
}

.contentBoxTitle {
    font-size: 14px;
    font-weight: 700;
}

.boxHeigthStyle {
    overflow-y: auto;
}

.contentTips {
    height: 25px;
    font-size: 14px;
    font-weight: 700;

}

.clearBtn {
    float: right;
}

.clearBtn .el-button--mini {
    padding: 3px 6px;
}

.contentBoxTitleTips {
    font-weight: 400;
    font-size: 12px;
}

.login-container {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.loginBackground {
    width: 100%;

    background-color: #FFF;
    position: relative;
    z-index: 9999;
}

.sunIconStyle {
    width: 100%;
    text-align: center;

    line-height: 60px;
}

.setheightButtonBox .el-progress-bar__outer {
    background-color: rgb(187 190 197) !important;
}

.setheightButtonBox .el-progress-bar {
    padding-right: 47px;
    margin-right: -48px;
}

.setheightButtonBox .el-progress__text {
    font-size: 12px !important;
}

.errListBox {
    height: 300px;
    overflow-y: auto;
    font-size: 12px;

}

/* 显示省略号 */

.ellipsisFlag {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.diaClass .el-dialog__header {
    padding: 15px 10px 2px !important;
}

.errListBox .el-card__body {
    padding: 7px !important;
}

.errorStyle {
    font-size: 14px;
    color: #F56C6C;
}

.titleStyle {
    font-size: 14px;
    color: #606266;
}